.cssanimation,
.cssanimation h1 {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation h1 {
  display: inline-block;
}

.fadeInBottom {
  animation-name: fadeInBottom;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
