.toast {
  opacity: 1;
  transform: translateY(0);
  animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
}

.slide-from-left {
  opacity: 1;
  transform: translateX(0);
  animation: slide-in-left 0.5s ease-in;
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-120px);
  }
}

.slide-from-right {
  opacity: 1;
  transform: translateX(0);
  animation: slide-in-right 0.5s ease-in;
}
@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }
}
