@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: block;
  background: url("./assets//calender_icon_vector.svg") no-repeat;
}

li:hover {
  text-decoration: underline;
}

@layer components {
  .input-primary {
    @apply h-[58px] px-4  rounded-lg bg-[#F7F7F7] w-full text-[16px];
  }

  .section-layer {
    @apply relative laptop:w-[500px]  laptop:h-[735px] laptop:mt-[3.75rem] mobile:mt-0 mobile:h-full   mobile:w-full mx-auto  laptop:border border-gray-300  laptop:py-8 laptop:px-9 mobile:px-4 py-9 rounded-lg flex flex-col;
  }
}
