@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: block;
  background: url("./assets//calender_icon_vector.svg") no-repeat;
}

li:hover {
  /* text-decoration: underline; */
}

@layer components {
  .input-primary {
    @apply h-[58px] px-4  rounded-lg bg-[#F7F7F7] w-full text-[16px];
  }

  .section-layer {
    @apply laptop:my-[69px] mobile:my-0;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* 
#gameListBox::-webkit-scrollbar-thumb {
  background-color: skyblue;
} */

/* #gameListBox::-webkit-scrollbar-track {
  background: hsl(120 50% 50% / 1);
} */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* 
.arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  bottom: -4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: 1px solid black;
  z-index: -99;
} */
