@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

li:hover {
  text-decoration: underline;
}

/* mobile:h-[48px] tablet:w-[600px] tablet:h-[45px] mx-auto flex items-center justify-center p-4  rounded-lg text-white mobile:w-full tablet:text-[15px] " */

@layer components {
  .btn-primary {
    /* @apply h-12 tablet:w-[600px]  mx-auto flex items-center justify-center p-4  rounded-lg text-white mobile:w-full tablet:text-[15px]; */
  }
  .input-primary {
    /* @apply h-[58px] p-4 bg-[#F7F7F7] rounded-lg; */
  }
}
